main {
    padding: 1rem 0 2rem 0;

    .desktop_hero {
        display: none;
    }

    display: flex;
    flex-direction: column;
    gap: 3rem;

    .text_wrapper {
        padding: 0 .5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        text-align: center;

        h1 {
            color: $almost-black;
        }

        p {
            color: $medium-gray;
        }

        a {
            background: $almost-black;
            color: $almost-white;
            text-decoration: none;
            padding: 1rem;
            border-radius: 1rem;
            font-weight: 700;
        }

        section {
            padding: 1rem .5rem 2rem .5rem;
            display: flex;
            align-items: center;
            justify-content: space-between;

            img {
                width: 20%;
            }
            
        }
    }
}

@media screen and (min-width: 1024px) {
    main {
        .mobile_hero {
            display: none;
        }

        .desktop_hero {
            display: block;
            width: 30%;
        }

        flex-direction: row-reverse;
        justify-content: space-evenly;
        padding: 1rem 4rem 2rem 4rem;

        .text_wrapper {
            gap: 2rem;
            width: 47.5%;
            align-items: flex-start;
            justify-content: center;
            text-align: start;

            h1 {
                margin-top: auto;
                font-size: 5rem;
            }

            a {
                border: 1px solid $almost-black;
                
                &:hover {
                    background: none;
                    color: $almost-black;
                }
            }

            section {
                margin-top: auto;
                width: 100%;

                img {
                    width: 15%;
                }
            }

        }
    }
}